@font-face {
  font-family: "iconfont"; /* Project id 3428816 */
  src: url('iconfont.woff2?t=1657260707891') format('woff2'),
       url('iconfont.woff?t=1657260707891') format('woff'),
       url('iconfont.ttf?t=1657260707891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorites:before {
  content: "\e813";
}

.icon-FavoriteI:before {
  content: "\e778";
}

.icon-Favorite:before {
  content: "\e601";
}

.icon-files:before {
  content: "\e60c";
}

.icon-Files:before {
  content: "\e756";
}

.icon-FileManager:before {
  content: "\e757";
}

.icon-file1:before {
  content: "\e699";
}

.icon-file2:before {
  content: "\e65c";
}

.icon-File:before {
  content: "\e600";
}

.icon-File1:before {
  content: "\e602";
}

.icon-quxiao:before {
  content: "\e63d";
}

.icon-quxiao1:before {
  content: "\e666";
}

.icon-cancel-test:before {
  content: "\e61b";
}

.icon-quxiao2:before {
  content: "\e64e";
}

.icon-xuanze1:before {
  content: "\ed04";
}

.icon-quxiao3:before {
  content: "\f4bc";
}

.icon-yixuanze:before {
  content: "\e633";
}

.icon-xuanze:before {
  content: "\e669";
}

.icon-home:before {
  content: "\e69b";
}

.icon-next01:before {
  content: "\e738";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-fenxiang1:before {
  content: "\e626";
}

.icon-shoucang:before {
  content: "\e66f";
}

.icon-xiazai:before {
  content: "\e632";
}

.icon-fenxiang:before {
  content: "\e63c";
}

.icon-wenjianshangchuan:before {
  content: "\e616";
}

.icon-wj-wjj:before {
  content: "\e7b8";
}

.icon-upload03:before {
  content: "\e6ae";
}

.icon-xuanzeweixuanze:before {
  content: "\e67b";
}

.icon-xuanzeyixuanze:before {
  content: "\e67c";
}

.icon-chuangjian:before {
  content: "\e636";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-chuangjian1:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-chuanshujilu-:before {
  content: "\e6a0";
}

.icon-zhaopian_huabanfuben:before {
  content: "\e637";
}

.icon-dingyue:before {
  content: "\e63f";
}

.icon-line-safebaoxianxiang-02:before {
  content: "\e751";
}

.icon-lajixiang:before {
  content: "\e615";
}

.icon-file:before {
  content: "\e7bb";
}

.icon-fitness:before {
  content: "\e9ad";
}

